body{
  background-color: #282c34;
  padding: 1% 5%;
}

.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: lightblue solid 10px;
  font-size: calc(4px + 2vmin);
  color: rgb(238, 225, 104);
}

.App-link {
  color: #61dafb;
}

h2{
  color: white;
}

.timer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timer-content svg{
  width: 55px;
  height: 55px;
  margin-left: 8px;
  fill: white;
}

.timer-content svg:hover{
  fill: red;
  cursor: pointer;
}

/* --------------- Table ----------------- */
.items-counter {
  color: #61dafb;
  float:right;
  font-size: 20px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-titles {
  color: yellowgreen;
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.filter-titles p {
  margin-left: 10px;
  /* border: 1px solid ; */
}

.active-filter{
  color: orange;
  /* border: 1px solid white; */
}
.filter-titles p:hover {
  cursor: pointer;
}


/* ---------------- Item ------------------ */
.item-contains {
  display: flex;
  align-items: center;
  border-bottom: grey solid 2px;
  font-size: 1.5rem;
}
.item-contains input[type="checkbox"] {
   /* Double-sized Checkboxes */
   -ms-transform: scale(2); /* IE */
   -moz-transform: scale(2); /* FF */
   -webkit-transform: scale(2); /* Safari and Chrome */
   -o-transform: scale(2); /* Opera */
   transform: scale(2);
   padding:10px;
   margin-right: 2%;
}
.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-contains h3 {
  color: whitesmoke;
}
.category-list {
  display: flex;
  flex-direction: column;
}
.category-list ul {
  padding-inline-start: 0%;
}
.category-list li {
  list-style-type: none;
}

/* ------- NewTask -------- */
.new-task-contains {
  padding: 12px;
  font-weight: 700;
  font-size: 1.5rem;

}
.new-task-contains input {
  width: 96%;
  /* margin-left: 3.25%; */
  /* font-weight: 1.5rem; */
  /* height: 45px; */
  /* color: lightgrey; */
  /* background-color: rgba(0,0,0,0.2); */
}

/* ------- Modal -------- */

#modal {
  width:100%;
  height: 100%;
  /* height: 20vh; */
  background-color: white;
  position: fixed;
  z-index: 100;
  left: 0;
  top:0;
  padding-top:5%;
  /* border-radius: 5px; */
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.modal-content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  /* overflow-y: scroll; */
}
.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
}
.close-modal:hover {
  color: gray;
  cursor: pointer;
}
.close-modal:focus {
  border: none;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.modal-footer button {
  width: 25%;
  height: 10vh;
  font-size: 1rem;
  border-radius: 10px;
  /* color: white; */
}

.close-modal {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* ------ Pomodoro -------- */

#pomodoro {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  width: 100%;
  background-color: orange;
  padding: 2%;
}

#pomodoro-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 6px solid white;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 45px solid black;

}

.arrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 22px solid black;
  transform: rotate(45deg);
  position: relative;
  left: 22px;
  top: -2px;
}

/* .reset-button {
  width: 45px;
  height: 45px;
  border-width: 10px 6px 20px 10px;
  border-radius: 50% 37% 20% 50%;
  border-color: black;
  border-style: solid;
} */

.clock {
  width: 65px;
  height: 65px;
  border: 3px solid #C55E5E;
  border-radius: 50%;
  position: relative;
  margin: 0px 0px 0px 12px;
}

.clock:hover {
  cursor: pointer;
}

.tomato-top-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 20px solid green;
  transform: translate(-50%,-70%);
  left:28%;
}
.tomato-top-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 20px solid green;
  transform: translate(-50%,-70%);
  left:72%;
}
.tomato-top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid green;
  transform: translate(-50%,-70%);
  left:50%;
  top:-5px
}
.clock-border {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed yellow;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.clock-center {
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: cyan;
  border-radius: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.clock-hour {
  position: absolute;
  height: 30px;
  width: 5px;
  border: 1px solid white;
  border-radius: 50% 50% 0px 0px;
  top: 35%;
  left: 50%;
  /* transform-origin: 100% 80%; */
  transform: translate(-50%,-50%);
  z-index: 2;
}
.clock-minute {
  position: absolute;
  background-color: black;
  height: 30px;
  width: 6px;
  border: 1px solid white;
  border-radius: 50% 50% 0px 0px;
  top: 37%;
  left: 50%;
  transform-origin: 50% 73%;
  transform: translate(-50%,-50%) rotate(90deg);
  z-index: 1
}

.reset-button {
  width: 25px;
  height: 25px;
  border-width: 10px 10px 10px 10px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-right: 10px solid transparent;
  transition: transform linear 500ms;
}

.reset-button:hover {
  transform: rotate(360deg);
}

.stop-button {
  width: 45px;
  height: 45px;
  background-color: red;
}
#stage-header {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  align-items: center;
}
#time-header {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  align-items: center;
}

.gauges {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}
.gauge label{
  color: black;
  margin-right: 8px;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column */
}

#timer-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#timer-buttons button {
  width: 10%;
  height: 45px;
  font-size: 1rem;
  border-radius: 5%;
}

.buttons-timer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.options-rounds {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: black;
}

.options-rounds span {
  color: black;
}

#add-item {
  color: pink;
  /* border-radius: 40%; */
  /* border: 5px solid pink; */
}
#add-item:hover, .delete-item:hover{
  cursor: pointer;
}
.delete-item {
  color: white;
}
.delete-item:hover {
  color:yellow;
}

.item-title {
  flex-grow: 2;
  padding:12px;
  /* font-size: 1.25rem; */
  color:whitesmoke
}
.list-text-field {
  width: 92%;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

input:focus {
  outline: none;
}
.list-text-field {
  border:0;
}